.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1.5rem;
    justify-content: space-around;
    div{
        width: 300px;
        min-width: 200px;
    }
}
@media screen and (max-width:700px) {
    .grid{
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 640px){
    .grid{
        grid-template-columns: auto 
        ;
    }
}