.blog{
    background-color: #1d1d1d;
    min-height: 100vh;
    width: 100%;
    color: white;
    padding: 0 4rem;
}
.blog_container{
    position: relative;
    h2{
        position: absolute;
        z-index: 1;
        top: 80px;
        color: rgba(170, 170, 170, 0.4);
        font-family:fantasy;
        font-weight: 400;
        font-size: 5rem;
        letter-spacing: 1rem;
    }
}